
.message {
  color: green;
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}

